/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }

  .hero__inner {
    flex-direction: column;
  }

  .hero__media {
    margin-top: 40px;
  }

  .how__inner,
  .feature1__inner,
  .feature2__inner {
    flex-direction: column;
    gap: 40px;
  }

  .blog__group {
    grid-template-columns: 1fr;
  }

  .footer__inner {
    flex-direction: column;
    gap: 40px;
  }

  .footer__row {
    margin-left: 0;
    gap: 40px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .container {
    width: auto;
    padding: 0 16px;
  }

  .header__inner {
    flex-direction: column;
  }

  .navbar {
    margin: 20px 0;
  }

  .navbar__list {
    flex-direction: column;
    align-items: center;
  }

  .header-action {
    margin: 0;
  }

  .hero__inner {
    flex-direction: column;
  }

  .hero__title,
  .hero__desc {
    width: auto;
  }

  .register-form {
    width: 100%;
  }

  .how__inner,
  .feature1__inner,
  .feature2__inner {
    flex-direction: column;
    gap: 40px;
  }

  .feature1__heading,
  .feature1__desc,
  .feature2__heading,
  .feature2__desc {
    width: auto;
  }

  .blog__group {
    grid-template-columns: 1fr;
  }

  .blog__item {
    width: auto;
  }

  .cta__inner {
    padding: 60px 20px;
  }

  .cta__desc {
    width: auto;
  }

  .cta__download {
    flex-direction: column;
  }

  .footer__inner {
    flex-direction: column;
    gap: 40px;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__row {
    margin-left: 0;
    flex-direction: column;
    gap: 40px;
  }

  .footer__text {
    width: auto;
  }

  .footer__form-inner {
    flex-direction: column;
    gap: 20px;
  }

  .footer__button {
    margin-left: 0;
  }
}
